main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* USER */
nav.navbar {
    padding: 0;
}
button.btn-link {
    color: rgba(255, 255, 255, 0.5);
}
button.btn-link:hover {
    color: rgba(255, 255, 255, 0.75);
}
.btn-container {
    margin-top: 10px;
}
.btn-gradient {
    background: #01ACE5 !important;
    color: #fff !important;
}
.btn-gradient:before {
    /*content: '+';
    font-size: 27px;
    line-height: 8px;
    position: absolute;
    top: 25px;*/

}
.help-block {
    color: red;
}
div.required label.form-label:after,
div.required label.control-label:after {
    content: " *";
    color: red;
}
.accesses-list ul li {
    list-style: none;
}
.form-group button {
    margin-top: 15px;
}
.accesses-type-list li {
    list-style: none;
}
.cabinet-view-tooltip {
    position: relative;
}
.tooltip-view-links {

}
.tooltip.show {
    opacity: 1 !important;
}
.tooltip .arrow::before,
.tooltip .arrow::before
{
    border-bottom-color: #ddd !important;
}
.tooltip .tooltip-inner {
    padding: 0;
    background-color: #fff;
    border: 1px solid #ddd;
}
.tooltip-inner .tooltip-view-links {
    text-align: left;
}
.tooltip-inner .tooltip-view-links a {
    color: #212529;
    display: block;
    padding: 0.5rem 1.5rem;
    transition: 0.3s;
}
.tooltip-inner .tooltip-view-links a:hover {
    text-decoration: none;
    color: #fff;
    background: #000;
    transition: 0.3s;
}
.clinic_row.active {
    background: #e2f8ff !important;
}
.clinic_row_room {
    display: flex;
    flex-wrap: nowrap;
}
.clinic_row_room div.clinic_row_room_name {
    width: 80%;
}
.clinic_row_room div.clinic_row_room_active {
    width: 20%;
}
.clinic_row .clinic_row_room_active {
    display: none;
    color: #007bff;
}
.clinic_row.active .clinic_row_room_active {
    display: block;
    text-align: right;
}
header nav form.d-flex {
    margin-left: auto;
}

/*
BEGIN PRELOADER
*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #774d93;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
.loader-block {
    position: fixed;
    width: 80px;
    height: 80px;
    margin: auto;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
}
/*#question-3 .result2__item-info {
    font-size: 18px;
}*/
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*
END PRELOADER
*/
/* PAGINATION */
.pagination {
    list-style: none;
}
.pagination > li:not(:first-child) > a {
    margin-left: -1px;
}

/*.field-payment-order_id,
.field-payment-document_id
{
    display: none;
}*/


.pagination > li > a,
.pagination > li > span
{
    position: relative;
    padding: .375rem .75rem;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.pagination > li.active > a {
    background: #e9ecef;
}
/* PAGINATION */

/* ALERT */
.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
    --bs-alert-border-radius: var(--bs-border-radius);
    --bs-alert-link-color: inherit;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 700;
    color: var(--bs-alert-link-color);
}

.alert-dismissible {
    padding-right: 3rem;
}
.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}

.alert-primary {
    --bs-alert-color: var(--bs-primary-text-emphasis);
    --bs-alert-bg: var(--bs-primary-bg-subtle);
    --bs-alert-border-color: var(--bs-primary-border-subtle);
    --bs-alert-link-color: var(--bs-primary-text-emphasis);
}

.alert-secondary {
    --bs-alert-color: var(--bs-secondary-text-emphasis);
    --bs-alert-bg: var(--bs-secondary-bg-subtle);
    --bs-alert-border-color: var(--bs-secondary-border-subtle);
    --bs-alert-link-color: var(--bs-secondary-text-emphasis);
}

.alert-success {
    --bs-alert-color: var(--bs-success-text-emphasis);
    --bs-alert-bg: var(--bs-success-bg-subtle);
    --bs-alert-border-color: var(--bs-success-border-subtle);
    --bs-alert-link-color: var(--bs-success-text-emphasis);
}

.alert-info {
    --bs-alert-color: var(--bs-info-text-emphasis);
    --bs-alert-bg: var(--bs-info-bg-subtle);
    --bs-alert-border-color: var(--bs-info-border-subtle);
    --bs-alert-link-color: var(--bs-info-text-emphasis);
}

.alert-warning {
    --bs-alert-color: var(--bs-warning-text-emphasis);
    --bs-alert-bg: var(--bs-warning-bg-subtle);
    --bs-alert-border-color: var(--bs-warning-border-subtle);
    --bs-alert-link-color: var(--bs-warning-text-emphasis);
}

.alert-danger {
    --bs-alert-color: var(--bs-danger-text-emphasis);
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}

.alert-light {
    --bs-alert-color: var(--bs-light-text-emphasis);
    --bs-alert-bg: var(--bs-light-bg-subtle);
    --bs-alert-border-color: var(--bs-light-border-subtle);
    --bs-alert-link-color: var(--bs-light-text-emphasis);
}

.alert-dark {
    --bs-alert-color: var(--bs-dark-text-emphasis);
    --bs-alert-bg: var(--bs-dark-bg-subtle);
    --bs-alert-border-color: var(--bs-dark-border-subtle);
    --bs-alert-link-color: var(--bs-dark-text-emphasis);
}.btn-close {
     --bs-btn-close-color: #000;
     --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
     --bs-btn-close-opacity: 0.5;
     --bs-btn-close-hover-opacity: 0.75;
     --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
     --bs-btn-close-focus-opacity: 1;
     --bs-btn-close-disabled-opacity: 0.25;
     --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
     box-sizing: content-box;
     width: 1em;
     height: 1em;
     padding: 0.25em 0.25em;
     color: var(--bs-btn-close-color);
     background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
     border: 0;
     border-radius: 0.375rem;
     opacity: var(--bs-btn-close-opacity);
 }
.btn-close:hover {
    color: var(--bs-btn-close-color);
    text-decoration: none;
    opacity: var(--bs-btn-close-hover-opacity);
}
.btn-close:focus {
    outline: 0;
    box-shadow: var(--bs-btn-close-focus-shadow);
    opacity: var(--bs-btn-close-focus-opacity);
}
.btn-close:disabled, .btn-close.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: var(--bs-btn-close-disabled-opacity);
}

.btn-close-white {
    filter: var(--bs-btn-close-white-filter);
}

[data-bs-theme=dark] .btn-close {
    filter: var(--bs-btn-close-white-filter);
}
/* END ALERT */

.screens-modal button.close {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}
.alert-modal-body {
    text-align: center;
}
.alert-modal-btn {
    padding: 10px 0;
}
.alert-modal-body h3 {
    font-size: 1rem;
    line-height: 1.5;
}
.ticket-list-row {
    display: none;
}
.ticket-list-row.active {
    display: block;
}
.clinic_row {
    cursor: pointer;
}
.info-message {
    display: none;
    color: #28a745;
    height: 20px;
    margin-bottom: 0;
}
.info-message.error {
    color: #dc3545;
}
#form-ticket h4 {
    text-align: center;
}
